<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <h1 class="text-center">Select your city requirements</h1>
      <p class="text-center">Please select at least one option and choose as many as you like</p>
      <%= simple_form_for @user do |f| %>
        <%= f.association :requirements, as: :check_boxes %>
        <%= f.button :submit, "Submit", class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
