<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <h1 class="text-center">Welcome to Cityscanner</h1>
      <p class="text-center">Before you can select your city holiday requirements, please enter your details below</p>
      <%= simple_form_for @user do |f| %>
        <%= f.input :email_address %>
        <%= f.input :job_title, collection: ["Applications Programmer", "Computer Language Programmer", "Computer Programmer", "Junior Software Developer", "Mainframe Programmer", "Systems Programmer"], prompt: "Select your job title" %>
        <%= f.button :submit, "Register", class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
